.intro-container{
    background-color: rgb(196, 164, 132);
    border-radius: 35px;
    width: 100vw;
    margin-top: 3rem;
}

#intro{
  display: flex;
  justify-content: center; /* Centers items along the main axis (horizontally by default) */
  align-items: center;
  padding: 3%;
}

#col-1{
    width: 50%;
    padding-left: 4rem;
    margin: 1rem;
}
#col-2{
  width: 50%;
  padding-right: 8rem;
  margin: 1rem;
 
}

#img1, #img2{
    width: 32vw;
    height: 25vw;
    margin-top: 7vh;
    margin-left: 3vw;
    margin-bottom: 7vh;
    object-fit: cover; /* Cover  means that the img will fill the box and preserve its aspect ratio  */
    object-position: center;
}

.title{
    font-size: 5vw;
}
.text{
    font-size: 1.4vw;
}

@media (max-width: 600px) {

    #intro{
        margin: 2rem;
    }

    #col-1{
        display: none;
    }
    #col-2{
        width: 100%;
    }

    #img1, #img2{
       display: none;
    }

    .title{
        font-size: 9vw;
    }
    .text{
        font-size: 4vw;
    }

}